*{
  box-sizing: border-box;
}

.container{
 
  width: 1213px;
  height: 854px ;
  border: 1px solid blue;
  position: absolute;
}
h1{
  width: 100%;
}

.header .header_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  
  width: 1013px;
  height: 64px;
  
}
#search{
  display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;
width: 327px;
height: 64px;
border: 1px solid #BFC8E6;
border-radius: 4px;
}
 .menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
  width: 534px;
  height: 56px;
  
  border-radius: 4px;
  
}
 .menu .items__1{
  display: flex;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 121px;
height: 56px;

}
.menu .items__2{
  display: flex;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 115px;
height: 56px;

background: #849FFF;
border-radius: 8px;
}
.menu .items__3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

width: 121px;
height: 56px;
}
.menu .items__4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  
  width: 121px;
  height: 56px;
}
.menu .items__5{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  
  width: 121px;
  height: 56px;
}

.post {
  display:flex;
  margin-top: 100px;
}
.post .row{
  display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1013px;
  height: 432px;
  
 
}
.col-md-3{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 327px;
height: 208px;

background: #FBFCFF;
border: 1px solid #BFC8E6;
box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
border-radius: 16px;
}
.col-item{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 131px;
height: 132px;
}
.col-item h3{
  width: 106px;
height: 23px;
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 23px;
color: #151B32;
margin-bottom: 5px;
}
.col-item span{
  width: 97px;
height: 21px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
}